# KAS build artifacts
build
sources
.kas_shell_history

# Developer-specific local config
site.conf
tools/config.yaml

# Yocto outputs (in case someone builds elsewhere)
tmp/
sstate-cache/
downloads/

# Editor/system junk
*.swp
*.bak
*.tmp
.DS_Store

# Python
__pycache__/
*.pyc

# Proprietary ASK firmware override
recipes-dpaa/fm-ucode/fm-ucode_git.bbappend