# KAS build artifacts
build
sources
.kas_shell_history

# Developer-specific local config
conf/site.conf

# Yocto outputs (in case someone builds elsewhere)
tmp/
sstate-cache/
downloads/

# Editor/system junk
*.swp
*.bak
*.tmp
.DS_Store
