[Unit]
Description=SFP LED Control Daemon
After=systemd-udev-settle.service sys-kernel-debug.mount
Wants=systemd-udev-settle.service
Requires=sys-kernel-debug.mount

[Service]
Type=forking
ExecStart=/usr/sbin/sfp-led-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target